<html lang="de">
    <head>
        <title>Notizen</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        {{#if altTheme}}
            <link rel='stylesheet' href='/stylesheets/altStyle.css'/>
        {{/if}}
    </head>
    <body>
        <header>
            <div class="toolbar">
                <form action="/createNote" method="get">
                    <input class="button" type="submit" value="Create new Note" />
                </form>
                <form action="/" method="post">
                    <input type="hidden" name="altTheme" value="true">
                    <input class="button" type="submit" value="Switch Style" />
                </form>
            </div>

            <div class="toolbar">
                <form action="/" method="post">
                    <input type="hidden" name="sortBy" value="finishDate">
                    <input class="button" type="submit" value="By finish Date" />
                </form>
                <form action="/" method="post">
                    <input type="hidden" name="sortBy" value="createdDate">
                    <input class="button" type="submit" value="By created Date" />
                </form>
                <form action="/" method="post">
                    <input type="hidden" name="sortBy" value="importance">
                    <input class="button" type="submit" value="By Importance" />
                </form>
                <form action="/" method="post">
                    <input type="hidden" name="showAll" value="true">
                    <input class="button" type="submit" value="Show finished" />
                </form>
            </div>
        </header>
        <main>
            {{#each this.allNotes}}
                <article>
                    <form action="/edit/{{this._id}}" method="get">
                        <header>
                            <label>{{dateFormat this.endDate}}</label>
                            <label for="text"> {{this.title}}</label>
                            <div class="rating">
                                <label>{{pretty_importance this.importance}}</label>
                            </div>
                        </header>
                        <div class="note-content">
                            <div>
                                <input type="checkbox" id="finished" name="finished" disabled {{#if this.finished}} checked {{/if}}>
                                <label for="finished"> Finished</label>
                            </div>
                            <textarea id="text" name="text" cols="35" rows="2" readonly>{{this.description}}</textarea>
                            <input class="button" type="submit" value="Edit" />
                        </div>
                    </form>
                </article>
            {{/each}}
        </main>
    </body>
</html>