<header>
    {{#if note.title}}
        <h1>Edit {{note.title}}</h1>
    {{else}}
        <h1>Neues ToDo</h1>
    {{/if}}
</header>
<main>
    <form method="post" >
        <section>
            <label for="title">Title</label>
            <textarea id="title" name="title">{{note.title}}</textarea>
        </section>
        <section>
            <label for="description">Beschreibung</label>
            <textarea id="description" name="description">{{note.description}}</textarea>
        </section>
        <section>
            <label for="importance">Wichtigkeit</label>
            <select id ="importance" name = "importance">
                <option value = 1 {{#if (check_importance note.importance 1)}} selected="selected" {{/if}}>1</option>
                <option value = 2 {{#if (check_importance note.importance 2)}} selected="selected" {{/if}}>2</option>
                <option value = 3 {{#if (check_importance note.importance 3)}} selected="selected" {{/if}}>3</option>
                <option value = 4 {{#if (check_importance note.importance 4)}} selected="selected" {{/if}}>4</option>
                <option value = 5 {{#if (check_importance note.importance 5)}} selected="selected" {{/if}}>5</option>
            </select>
        </section>
        <section>
            <label for="todoDate">Erledigt bis:</label>
            {{#if note.finishDate}}
                <input type="date" id="todoDate" name="finishDate" value={{dateFormat note.finishDate}} />
            {{else}}
                <input type="date" id="todoDate" name="finishDate" value={{dateFormat this.today}} />
            {{/if}}
        </section>
        <section>
            <div>
                <input type="checkbox" id="finished" name="finished" {{#if note.finished}} checked {{/if}}>
                <label for="finished"> Erledigt</label>
            </div>
        </section>

        <section>
            <input class="button" type="submit" value="Speichern" />
            <input class="button" type="button" name="cancel" value="cancel" onclick="window.location='/';" />
        </section>
    </form>
</main>